<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQL_TEST.Properties.Settings.modbus_sqlConnectionString"
            connectionString="Data Source=YANG_ENG-PC;Initial Catalog=modbus_sql;Persist Security Info=True;User ID=SA2;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>